<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'customer-reviews.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  .customer-reviews {
    --grid-desktop-horizontal-spacing: 20px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.blocks.size

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.blocks.size > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
        <div
            class="page-width"
        >
          {%- unless section.settings.heading == blank -%}
            <div class="title-wrapper title-wrapper--no-top-margin{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              <h2 class="title inline-richtext center {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
            </div>
          {%- endunless -%}
        </div>

        <slider-component class="slider-mobile-gutter slider-adapt slider-component-full-width page-width {% if show_desktop_slider %} slider-component-desktop{% endif %}">
            {%- if show_mobile_slider or show_desktop_slider -%}
              <button type="button" class="slider-button slider-button--prev {% unless show_desktop_slider %}large-up-hide{% endunless %}" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
            {%- endif -%}
            
            <ul id="Slider-{{ section.id }}" class="grid slide-draggable image-carousel grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'general.slider.name' | t }}">
                {%- for block in section.blocks -%}
                    <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                      <div class="review-item">
                        {% if block.settings.image != blank %}
                          <div class="review-media">
                            <div
                              class="media media--transparent media--adapt"
                              style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                            >
                              {%- liquid
                                assign number_of_columns = section.settings.columns_desktop
                                assign number_of_columns_mobile = section.settings.columns_mobile
                                assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                                assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                                assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                                assign image_width = 1
                              -%}
                              {% capture sizes %}
                                (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                                (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                                (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                                calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                              {% endcapture %}
                              {{
                                block.settings.image
                                | image_url: width: 1000
                                | image_tag:
                                  loading: 'lazy',
                                  widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                                  sizes: sizes
                              }}
                            </div>
                          </div>
                        {% endif %}

                        {% if block.settings.content != blank %}
                          <div class="content-review center">
                            {% if block.settings.customer_name %}
                              <h3 class="customer-name center">
                                {{ block.settings.customer_name }}
                              </h3>
                            {% endif %}
                            <span class="jdgm-prev-badge__stars center" data-score="5.00" tabindex="0" aria-label="5.00 stars" role="button">
                              {% for i in (1..5) %}
                              <span class="jdgm-star jdgm--on"></span>
                              {% endfor %}
                            </span>
                            {{ block.settings.content }}
                          {% endif %}
                      </div>
                    </li>
                {%- endfor -%}
            </ul>
            {%- if show_mobile_slider or show_desktop_slider -%}
              <button type="button" class="slider-button slider-button--next {% unless show_desktop_slider %}large-up-hide{% endunless %}" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
            {%- endif -%}

            {%- if show_mobile_slider or show_desktop_slider -%}
                <div class="slider-buttons no-js-hidden">
                    <div class="slider-counter caption">
                    <span class="slider-counter--current">1</span>
                    <span aria-hidden="true"> / </span>
                    <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                    <span class="slider-counter--total">{{ section.blocks.size }}</span>
                    </div>
                </div>
            {%- endif -%}
        </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "Customer reviews",
  "tag": "section",
  "class": "section customer-reviews",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
    },
    {
        "type": "header",
        "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
        "type": "select",
        "id": "columns_mobile",
        "options": [
            {
            "value": "1",
            "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
            },
            {
            "value": "2",
            "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
            }
        ],
        "default": "1",
        "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
        "type": "checkbox",
        "id": "swipe_on_mobile",
        "default": false,
        "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
        "type": "review",
        "name": "Review",
        "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
                "type": "text",
                "id": "customer_name",
                "label": "Customer name"
            },
            {
                "type": "richtext",
                "id": "content",
                "label": "Content"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Customer reviews"
    }
  ]
}
{% endschema %}