{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  .subtext-home-cta {
    margin: 0;
  }
  .home-cta__title {
    margin: 0;
  }
  .home-cta-wrapper {
    position: relative;
  }
  .vector-image {
    position: absolute;
    z-index: 1;
  }
  .vector-image img {
    width: 100%;
  }
  .vector-image-1 {
    top: -3rem;
    max-width: 12vw;
    left: 24vw;
  }

  .vector-image-3 {
    right: 0;
    top: 0;
    max-width: 20vw;
    width: 100%;
  }

  .vector-image-2 {
    left: 0;
    top: 13vw;
    max-width: 28vw;
    width: 100%;
}

  .boxed-content-price {
    background: rgba(var(--color-foreground), .4);
    padding: 2rem;
    margin-top: 3rem;
  }
  .home-cta-inner {
    max-width: 49rem;
    margin: auto;
    z-index: 1;
    position: relative;
  }
  .flex-boxed:first-child {
    margin-bottom: .5rem;
  }
  .flex-boxed > div {
    flex: 1 auto;
  }
    .color-labels .rounded-label {
        width: 2.2rem;
        height: 2.2rem;
        display: block;
        background: var(--color);
        border-radius: 50%;
    }

    .color-labels {
        background: rgba(var(--color-foreground),.64);
        border-radius: 25px;
        padding: .3rem .5rem;
        gap: .3rem;
    }

    .subtext-section-title {
        margin: 0 0 1.5rem;
    }
    .section-title-labels {
        margin: 1.5rem auto 0;
        max-width: 41rem;
    }
    .section-title-flex {
        margin-bottom: 2rem;
    }
    .bottom-button-text {
        font-size: 1.4rem;
        margin-top: 1rem;
    }
    
    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        #shopify-section-{{ section.id }} .hxxl {
            font-size: clamp(calc(var(--font-heading-scale)* 5.6rem), 14vw, calc(var(--font-heading-scale)* 10.2rem));
        }
        .section-title-flex {
            margin-bottom: 4rem;
        }
    }

    @media (max-width: 749px) {
        .section-title-flex {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .vector-image-2 {
            display: none;
        }
        .vector-image-3 {
            top: -5rem;
            max-width: 23vw;
            width: 100%;
            z-index: 2;
        }
        .vector-image-1 {
            top: 12rem;
            max-width: 20vw;
            left: -1.5rem;
            transform: rotate(-90deg);
        }
        .bottom-button-text {
            font-size: 1.3rem;
        }
    }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="home-cta-wrapper center">
        <div class="page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {% if settings.animations_reveal_on_scroll %}data-cascade{% endif %}>
            <div class="home-cta-inner">
                {% if section.settings.top_text != blank %}
                    <span class="h1 subtext-home-cta">
                    {{ section.settings.top_text }}
                    </span>
                {% endif %}
                {% if section.settings.title != blank %}
                    <div class="home-cta__title center title-wrapper-with-link justify-center title-wrapper title-wrapper--no-top-margin">
                        <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" style="--color-foreground: {{ section.settings.title_color.red }},{{ section.settings.title_color.green }},{{ section.settings.title_color.blue }};">
                            {{ section.settings.title }}
                        </h2>
                    </div>
                {% endif %}
                {% if section.settings.subheading != blank %}
                    <h3 class="hxl subtext-home-cta" style="text-shadow: none; --color-foreground: {{ section.settings.subheading_color.red }},{{ section.settings.subheading_color.green }},{{ section.settings.subheading_color.blue }};">
                    {{ section.settings.subheading }}
                    </h3>
                {% endif %}
                {% if section.settings.bottom_heading != blank %}
                    <h4 class="h1 subtext-home-cta">
                    {{ section.settings.bottom_heading }}
                    </h4>
                {% endif %}

                {% if section.settings.product != blank %}
                    {% assign product = all_products[section.settings.product] %}
                {%endif %}

                    {% liquid
                        assign first_offer = nil
                        for item in product.metafields.custom.homepage_offers.value
                            if forloop.first
                                assign first_offer = item
                            endif
                        endfor
                    %}

                    <div class="boxed-content-price global-media-settings">
                        <div class="d-flex flex-boxed rte accent-color-shadow align-center justify-between">
                            <div class="text-left">
                                <span>{{- 'products.product.price.regular_price' | t -}}</span>
                            </div>
                            <div class="text-right">
                                {% if first_offer != blank %}
                                    <span>{{ first_offer.compare_price.value | money_without_trailing_zeros }}</span>
                                {% else %}
                                    <span>{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex flex-boxed accent-color-button rte align-center justify-between">
                            <div class="text-left">
                                <span>{{- 'products.product.price.sale_price' | t -}}</span>
                            </div>
                            <div class="text-right">
                                {% if first_offer != blank %}
                                    <span>{{ first_offer.sale_price.value | money_without_trailing_zeros }}</span>
                                {% else %}
                                    <span>{{ product.price | money_without_trailing_zeros }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% if section.settings.section_title != blank %}
                    <div class="center section-title-labels">
                        <h4 class="h3 subtext-section-title">
                            {{ section.settings.section_title }}
                        </h4>
                        {% if section.settings.content_label != blank %}
                            <div class="d-flex section-title-flex gap-1 justify-center align-center">
                                <div>
                                    <div class="rte">
                                        {{ section.settings.content_label }}
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex color-labels">
                                        {% for i in (1..5) %}
                                            {% assign color_name = 'content_label_color_' | append: i %}
                                            {% assign color = section.settings[color_name] %}
                                            <div>
                                                <span class="rounded-label" style="--color: {{ color }};"></span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="center bottom-button-home-cta">
                            {%- if section.settings.button_label != blank -%}
                              <a
                                class="button button--full-width button--primary"
                                {% if section.settings.button_link == blank %}
                                  role="link" aria-disabled="true"
                                {% else %}
                                  href="{{ section.settings.button_link }}"
                                {% endif %}
                              >
                                {{ section.settings.button_label | escape }}
                              </a>
                            {%- endif -%}
                            {% if section.settings.button_bottom_text != blank %}
                                <div class="rte bottom-button-text">
                                    {{ section.settings.button_bottom_text }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% for i in (1..3) %}
            {% assign image_name = 'image_' | append: i %}
            {% assign image = section.settings[image_name] %}
            {% if image != blank %}
                <div class="vector-image vector-image-{{ i }}">
                    <div class="image-wrap">
                        {%- liquid
                            assign number_of_columns = 2
                            assign number_of_columns_mobile = 3
                            assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                            assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                            assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                            assign image_width = 1
                        -%}
                        {%- assign image_height = image.width | divided_by: image.aspect_ratio -%}
                        {% capture sizes %}
                            (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                            (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                            (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                            calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                        {% endcapture %}
                        {{
                        image
                        | image_url: width: 1000
                        | image_tag:
                            widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                            height: image_height,
                            alt: image.alt,
                            sizes: sizes,
                            loading: 'lazy',
                            class: 'radius-0'
                        }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
  </div>
</div>

{% if template.name contains 'product' %}
    <script>
        if (document.querySelector('offers-dropdown')) {
            document.querySelector('.bottom-button-home-cta .button').addEventListener('click', function() {
                const offersDropdown = document.querySelector('offers-dropdown');
                if (offersDropdown) {
                    offersDropdown.scrollIntoView({ behavior: 'smooth' });
                }
            });
        }
    </script>
{% endif %}

{% schema %}
{
  "name": "Home CTA",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_text.content"
    },
    {
        "type": "inline_richtext",
        "id": "top_text",
        "label": "Top Text"
    },
    {
        "type": "inline_richtext",
        "id": "title",
        "default": "t:sections.featured-collection.settings.title.default",
        "label": "t:sections.featured-collection.settings.title.label"
    },
    {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          },
          {
            "value": "hxl",
            "label": "t:sections.all.heading_size.options__4.label"
          },
          {
            "value": "hxxl",
            "label": "t:sections.all.heading_size.options__5.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
    },
    {
        "type": "color",
        "id": "title_color",
        "label": "Title Color"
    },
    {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "Subheading"
    },
    {
        "type": "color",
        "id": "subheading_color",
        "label": "Subheading Color"
    },
    {
        "type": "inline_richtext",
        "id": "bottom_heading",
        "label": "Bottom Heading"
    },
    {
        "type": "header",
        "content": "Boxed Content"
    },
    {
        "type": "product",
        "id": "product",
        "label": "Product"
    },
    {
        "type": "text",
        "id": "section_title",
        "label": "Section Title"
    },
    {
        "type": "richtext",
        "id": "content_label",
        "label": "Content Label"
    },
    {
        "type": "color",
        "id": "content_label_color_1",
        "label": "Content Label Color 1"
    },
    {
        "type": "color",
        "id": "content_label_color_2",
        "label": "Content Label Color 2"
    },
    {
        "type": "color",
        "id": "content_label_color_3",
        "label": "Content Label Color 3"
    },
    {
        "type": "color",
        "id": "content_label_color_4",
        "label": "Content Label Color 4"
    },
    {
        "type": "color",
        "id": "content_label_color_5",
        "label": "Content Label Color 5"
    },
    {
        "type": "text",
        "id": "button_label",
        "default": "t:sections.multicolumn.settings.button_label.default",
        "label": "t:sections.multicolumn.settings.button_label.label", 
        "info": "t:sections.multicolumn.settings.button_label.info"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
        "type": "inline_richtext",
        "id": "button_bottom_text",
        "label": "Bottom Button Text"
    },
    {
        "type": "header",
        "content": "Vector Images"
    },
    {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
    },
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
    },
    {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Home CTA"
    }
  ]
}
{% endschema %}